[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = first test
[access "refs/*"]
	owner = group user/mahaHajja97
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/mahaHajja97
	label-Verified = -1..+1 group user/mahaHajja97
	push = group user/mahaHajja97
	read = group user/mahaHajja97
	rebase = group user/mahaHajja97
	removeReviewer = group user/mahaHajja97
	submit = group user/mahaHajja97
[access "refs/heads/*"]
	create = group user/mahaHajja97
	push = +force group user/mahaHajja97
	pushMerge = group user/mahaHajja97
	read = group user/mahaHajja97
[access "refs/tags/*"]
	push = group user/mahaHajja97
	push = +force group user/mahaHajja97
